<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Video Page</title>
  <style>
    .video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    iframe {
        width: 80%;
        height: 750px;
    }
  </style>
</head>
<body>
<div class="video-container">
  <iframe id="youtube-iframe" src="https://www.youtube.com/embed/PkT0PJwy8mI?autoplay=1&mute=0&rel=0" allowfullscreen allow='autoplay'></iframe>
</div>

<script>
  window.addEventListener('load', function() {
      var iframe = document.querySelector('iframe');
      var player = iframe.contentWindow;

      player.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
  });
</script>
</body>
</html>
